---
---
@import '_common.scss';

a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;

	&:hover {
		text-decoration: underline;
	}
}

.header {
	@include lnums;

	padding: 1rem;
	background-color: $purple;
	color: $eshell;
	font-family: $h-stack;
}

.navbar {
	height: 3rem;
	display: flex;
	align-items: center;
	font-size: 1.5rem;

	a {
		margin-left: 2rem;

		&:hover {
			text-decoration: none;
			color: white;
		}
	}
}

.logo {
	height: 100%;
}

.initials {
	font-size: 2.5rem;
	font-weight: 700;
}

.title {
	margin-top: 1rem;
	font-size: 5rem;
	font-weight: 700;
	color: $eshell;
}

.subtitle {
	font-size: 3rem;
	color: $subtle;
	font-style: italic;
	line-height: 85%;
}

.content {
	margin-left: 1rem;
	margin-right: 1rem;
}

.aside {
	color: $subtle;
	font-style: italic;
}

.footer {
	@include lnums;
	text-align: center;
	color: $purple;
	font-family: $h-stack;
	font-weight: 100;

	a {
		font-weight: 200;
	}
}
