---
---
<head>
	{% include min_header.html %}
	<link rel="stylesheet" href="css/index.css">
</head>

<div id="firstline-block">
	<p class="landing-synopsis">Chris Fincher is a dumb&nbsp;bitch<br>with terrible&nbsp;taste.</p>
</div>
<div id="below-firstline">
<p class="landing-synopsis">He will never change.</p>
<p class="landing-synopsis">He will <em>never</em> improve.</p>
<p class="landing-synopsis like-for-serious">That is a promise.</p>

<p>
	But if that's not a dealbreaker for you, you can see some words he's written <a href="https://medium.com/@chrimifi">here</a>,
	some code he's written <a href="https://github.com/symbolboxer">here</a>, and a list of his
	accomplishments&nbsp;<span class="aside">(for&nbsp;want of a better term)</span>
	<a href="https://linkedin.com/in/chrisfincher">here</a>.
</p>

{% include footer.html %}
</div>