---
---
<head>
	{% include min_header.html %}
	<link rel="stylesheet" href="css/index.css">
</head>

<div id="firstline-block">
	<p class="landing-synopsis">Chris Fincher is a writer and software&nbsp;engineer based in Los&nbsp;Angeles.</p>
</div>
<div id="below-firstline">
<p class="landing-synopsis">You can see some of his prose&nbsp;<a href="https://medium.com/@chrimifi">here</a>,</p>
<p class="landing-synopsis">some of his code&nbsp;<a href="https://github.com/symbolboxer">here</a>,</p>
<p class="landing-synopsis">and his work history&nbsp;<a href="https://linkedin.com/in/chrisfincher">here</a>.</p>

{% include footer.html %}
</div>