@import 'http://fonts.googleapis.com/css?family=Lato:400|Raleway:100,300,400i&subset=all';
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap');

// Colors!
$indigo: rgb(56, 47, 128);
$eshell: #EFEFEF;
$subtle: #979797;
$black: #120F28;

// Body-stack not nearly as gruesome as it sounds
$body-stack: 'Lato', Calibri, Helvetica, sans-serif;
$h-stack: 'DM Serif Display', 'Sorts Mill Goudy', Garamond, serif;

@mixin lnums {
	// Lining figures
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings:"lnum" 1;
	-moz-font-feature-settings:"lnum=1";
	-ms-font-feature-settings:"lnum" 1;
	-o-font-feature-settings:"lnum" 1;
	-webkit-font-feature-settings:"lnum" 1;
	font-feature-settings:"lnum" 1;
}

html {
	line-height: 1.61803398875;
	background-color: $eshell;
	font-family: $body-stack;
	font-weight: 100;
	color: $black;
}

a {
	text-decoration: underline $subtle;
	color: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: $h-stack;
	color: $black;
	font-weight: 100;
}

.aside { color: $subtle; }
